/* Importing the Roboto font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Global body styling */
body {
    background-color: black;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    cursor: none;
}

/* Custom cursor */
.custom-cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('red-triangle.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: width 0.4s ease, height 0.4s ease, transform 0.1s ease-out;
    z-index: 2
}

/* Class to trigger cursor animation */
.grow {
    animation: clickEffect 0.3s ease-out;
}

/* Grid Layout for the entire page */
.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 275px repeat(6, 1fr) 100px;
    grid-template-rows: repeat(10, 1fr);
    overflow: hidden;
}

/* Background text position */
.background {
    grid-column: 4;
    grid-row: 1 / 10;
}

/* Transforming and rotating background text */
.background div {
    transform: scaleY(-100%) rotate(180deg);
}

/* Styling the text inside the background */
.background div div {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    writing-mode: vertical-lr;
    font-size: 100px;
    margin: 0px;
    padding: 0px;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 9s;
    line-height: 4rem;
    z-index: 1
}

/* Film and Der background text */
.Film_background {
    visibility: hidden;
    color: #838177;
    animation-name: ticker-up-small;
}

.der_background {
    visibility: hidden;
    color: #4A4B41;
    animation-name: ticker-down-small;
}

/* Down scrollong animation for DER-SMALL */
@keyframes ticker-down-small {
    0% {
        visibility: visible;
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100vh);
    }
}

/* Up scrolling animation for FILM-SMALL */
@keyframes ticker-up-small {
    0% {
        visibility: visible;
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* Down scrollong animation for main FILM text */
@keyframes ticker-down {

    0% {
        transform: translateY(-100%) rotate(180deg);
    }

    100% {
        transform: translateY(100vh) rotate(180deg);
    }
}

/* Up scrolling Animation for main DER text */
@keyframes ticker-up {
    0% {
        transform: translateY(100vh) rotate(180deg);
    }

    100% {
        transform: translateY(-100%) rotate(180deg);
    }
}

/* DER Position */
.der {
    grid-column: 3;
    grid-row: 1 / 10;
}

/* DER Text Styling */
.der div {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 310px;
    margin: 0;
    padding: 0;
    color: #AEB197;
    writing-mode: vertical-lr;
    position: absolute;
    animation-name: ticker-up;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    line-height: 338px;
    z-index: 2;
}

/* FILM Position */
.film {
    grid-column: 3;
    grid-row: 1 / 10;
}

/* FILM Text Styling */
.film div {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 310px;
    margin: 0;
    padding: 0;
    color: #f0f3d9;
    writing-mode: vertical-lr;
    position: absolute;
    animation-name: ticker-down;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    line-height: 338px;
    z-index: 3;
}

/* Red Text Styling */
.redtext {
    grid-column: 6/10;
    grid-row: 1/11;
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-size: 28px;
    color: #de130f;
    text-align: left;
    white-space: nowrap;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: 3
}


/* ---- Breakpoints for responsive design ---- */


/* Tablet View (max-width: 1040px) */

@media (max-width: 1040px) {

    /* Adjust grid layout for tablets */
    .grid {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    /* Adjust DER text for tablets */
    .der {
        grid-column: 1 / 16;
        grid-row: 3 / 10;
    }

    .der div {
        writing-mode: horizontal-tb;
        animation-name: ticker-left-to-right;
        animation-duration: 10s;
        font-size: 300px;
    }

    /* Adjust FILM text for tablets */
    .film {
        grid-column: 1 / 16;
        grid-row: 3 / 10;
    }

    .film div {
        writing-mode: horizontal-tb;
        animation-name: ticker-right-to-left;
        animation-duration: 10s;
        font-size: 300px;
    }

    /* Adjust background text for tablets */
    .background {
        grid-column: 1/17;
        grid-row: 5;
    } 

    .background div div {
        writing-mode: horizontal-tb;
        font-size: 100px;
        line-height: 15rem;
        animation-delay: 11s;
    }

    /* Horizontal scroll animation for tablet view for small DER & FILM */
    @keyframes ticker-down-small {
        0% {
            visibility: visible;
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    @keyframes ticker-up-small {
        0% {
            visibility: visible;
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    /* Horizontal scroll animation for tablet view for DER & FILM */
    @keyframes ticker-right-to-left {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes ticker-left-to-right {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    /* Adjust red text for tablets */
    .redtext {
        grid-column: 4/14;
        font-size: 30px;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

}


/* Mobile View (max-width: 640px) */

@media (max-width: 640px) {
    .grid {
        /* Grid layout adjustments for smaller screens */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    /* Adjust DER & FILM text for smaller screens */
    .der div {
        font-size: 200px;
        line-height: 15rem;
    }

    .film div {
        font-size: 200px;
        line-height: 15rem;
    }

    .background div div {
        font-size: 60px;
        line-height: 13rem;
    }

    /* Adjust red text for smaller screens */
    .redtext {
        grid-column: 2/6;
        font-size: 14px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

}